bin
build
dist
**/*.csv
.DS_Store
.settings
.vscode
target/
output/
scripts/
scripts
target
output
.circleci
.editorconfig
.images
**/*.yml
package.json
src/commands
src/index.ts
tsconfig.json
tslint.json
messages
test

